.sidebar {
  min-width: 320px;
  background-color: #080809;
  padding: 26px;
  border-radius: 20px;
  margin-right: 36px;
}

.title {
  font-size: 22px;
  margin-bottom: 26px;
  font-weight: bold;
  color: #fff;
}

.navbar button:hover {
  cursor: pointer;
}

.navbar button:not(last-child) {
  margin-right: 16px;
}

.navbar__buttonbox_button_icon {
  background-color: red;
  color: #fff;
}
